@inherits LayoutComponentBase
@inject Microsoft.Extensions.Configuration.IConfiguration configuration
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        Version: @configuration.GetSection("Version").Value
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
